[Unit]
Description=Vault Agent - Automatic secret delivery and renewal
Documentation=https://www.vaultproject.io/docs/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ vault_agent_config_dir }}/agent.hcl

[Service]
Type=notify
EnvironmentFile=-/etc/sysconfig/vault
EnvironmentFile=-/etc/default/vault
ExecStart={{ vault_agent_binary_path }} agent -config={{ vault_agent_config_dir }}/agent.hcl
ExecReload=/bin/kill -HUP $MAINPID

User=vault-agent
Group=vault-agent

StandardOutput=journal
StandardError=journal
SyslogIdentifier=vault-agent

# Security settings
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
SecureBits=keep-caps
AmbientCapabilities=CAP_IPC_LOCK
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK
LimitNOFILE=65536

KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
